@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: 
    radial-gradient(at 0% 0%, hsla(217,100%,10%,0.5) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(217,100%,5%,1) 0, transparent 50%);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
